/* CSS Document */
* {
    margin: 0;
    padding: 0;
	overflow: hidden;
}
body{
	background-color: #00FF00;
	/*background-image: url("file:///C:/Users/yxm211023/Downloads/_MG_7434.JPG");
	background-size: cover;*/
}
#wrapper{
    position: relative;
    height: 400px;
}